@import 'reset.scss';

$fontSize:37.5;
$FS: 16; //字体大小
$tabMargin:50; //tab标签的margin值
$advHeight:200;
$liWidth:80; //时长套餐中的圆 长宽值
$contentbg:#f8f8f8;
$red:#f44336;
$blue:#2196f3;
$orange:#ff9800;
$green:#4caf50;
.blue{color:$blue;}
.red{color:$red;}
.green{color:$green;}
.orange{color:$orange;}
.tc {
  text-align: center;
}
img {width: 100%;height: 100%}
@function px2rem($px) {
  @return ($px/$fontSize)*1rem
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-size: px2rem($FS);
  color: #2c3e50;
  background: $contentbg;
  height: 100%
}


/*=========首页默认==========*/

.mint-tab-item-label {
  font-size: px2rem($FS)
}

.mint-navbar {
  .mint-tab-item {
    margin-left: px2rem($tabMargin);
    margin-right: px2rem($tabMargin);
  }
}

.content_top {
  padding-top: px2rem(10);
}

.check_title {
  line-height: px2rem(50);
  height: px2rem(50);
  background: white;
  color: #3f51b5;
  border-bottom: 1px solid #2196f3;
  @extend .tc;
}

.check_case {
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 15px 0;
    li {
      border: 1px solid #673ab7;
      border-radius: 50%;
      background: white;
      height: px2rem($liWidth);
      width: px2rem($liWidth);
      @extend .tc;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: px2rem(26);
        line-height: px2rem(30);
      }
      span {
        font-size: px2rem(18);
        line-height: px2rem(24);
      }
      /*&.active {
        border: 3px solid #2196f3;
      }*/
      &.active:before {
        content: '';
        background: none;
        position: absolute;
        height: px2rem($liWidth);
        width: px2rem($liWidth);
        border: 3px solid #2196f3;
        border-radius: 50%;
      }
      ;
    }
  }
}

.check_note {
  line-height: px2rem(28);
  background: white;
  margin: px2rem(10);
  padding: px2rem(10);
  border-radius: 10px;
  p {
    &:last-child {
      text-indent: 2em
    }
  }
}

.adv_banner {
  width: 100%;
  height: px2rem($advHeight);
  background: white;
  @extend img;
}

.bottom_pay {
  display: flex;
  height: px2rem(50);
  line-height: px2rem(50);
  color: #333;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  .pay_info {
    flex: 1;
    padding-left: px2rem(15);
    .pay_amount{
      color:#d33535;
      font-size: px2rem(18)
    }
  }
  .pay_btn {
    display: inline-block;
    width: px2rem(100);
    background: #1c9c17;
    color: white;
    @extend .tc
  }
}
/*=========首页“我的”==========*/
.bottom_mine{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem($advHeight);
  img {
    width: 100%;
    height: 100%
  }
}
.mine_profile{
  background: #8dceff;
  padding: px2rem(15);
  .mine_avatar{
    width: px2rem(150);
    height: px2rem(150);
    border-radius: 50%;
    margin:0 auto;
    img{
      border-radius: 50%;
    }
    @extend img;
  }
  .mine_phone{
    font-size: px2rem(18);
    @extend .tc;
    line-height: px2rem(50);
    color:#000000;
  }
}
/*========= 纪录 ==========*/
.record{padding: 0 10px;}
.record_item{
  border-radius: 10px;
  background: white;
  line-height: px2rem(26);
  padding: px2rem(10);
  margin-bottom: 10px;
}
